body{
  font-family: sans-serif;
  text-align: center;
  background-color: #ececec;
  color: dark-grey;
}

a, a:hover, a:active, a:visited{
  color: green;
}


.site-button{
  width: 350px;
  height: 150px;
  background: #fff;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10%;
  box-shadow: 5px 5px #1c1c1c;
}

.site-button p{
  color: #000000;
}

.site-button:hover{
  box-shadow: none;
}

#intro{
  width: 50%;
  height: auto;
  margin: 0px auto;
  font-size: 18pt;
}

#intro p, img{
  text-align: center;
}

#intro img{
  border: 1px solid #000000;
  border-radius: 25%;
  float: left;
}

#intro p{
  background-color: #fff;
  border-radius: 25%;
  padding: 9%;
  line-height: 1.5;
}

#socialbuttons{
  width: 55px;
  height: 375px;
  padding: 5px;
  background: #ffffff;
  position: fixed;
  border: 1px solid #000000;
}

#socialbuttons img{
  width: 50px;
  opacity: 1;
}


@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
    /*width: 100%;*/
    /*height: auto;*/
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
    /*width: auto;*/
    /*height: 100%;*/
  }
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
